$_breakpoints: (
  se: 375px,
  tablet: 420px,
  desktop: 1200px,
  vLaptop: 900px
);

@mixin breakpoint($key) {
  @if map-has-key($_breakpoints, $key) {
    @media (min-width: #{map-get($_breakpoints, $key)}) and (min-height: 800px) {
      @content;
    }
  }
}

@mixin tabBreakpoint($key) {
  @if map-has-key($_breakpoints, $key) {
    @media (min-width: #{map-get($_breakpoints, $key)}) {
      @content;
    }
  }
}

@mixin minBreakpoint($key) {
  @if map-has-key($_breakpoints, $key) {
    @media (max-width: #{map-get($_breakpoints, $key)}) {
      @content;
    }
  }
}

@mixin vbreakpoint($key) {
  @if map-has-key($_breakpoints, $key) {
    @media (max-height: #{map-get($_breakpoints, $key)}) {
      @content;
    }
  }
}
