@font-face {
  font-family: "tickerbit";
  src: url("fonts/tickerbit-mono.woff2") format("woff2");
}
@font-face {
  font-family: "start-2p";
  src: url("fonts/start-2p.otf") format("opentype");
}
body {
  background-color: #213C06;
  image-rendering: crisp-edges;
}

#ui-bar {
  display: none;
}

#ui-bar-body {
  margin: 0;
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#ui-bar-body > :not(:first-child) {
  margin: 0;
}

#story-caption {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#menu-item-saves {
  display: none;
}

#ui-bar-toggle {
  display: none;
}

#menu ul {
  margin: 0;
}

#story {
  margin: 0;
}

progress {
  height: 24px;
}

.ui-label {
  margin-left: 1rem;
  margin-right: 1rem;
}

progress::-webkit-progress-value {
  transition: width 0.5s ease;
}

#quarter {
  font-size: 24px;
  font-weight: bold;
}

.quit-button {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 200px;
  text-align: center;
  justify: center;
}

.quit-btn {
  height: 100%;
  justify: center;
}

.chapel-meter {
  border: 2px solid #808D6B;
}

.meter-bottom {
  height: 90%;
  mask-image: repeating-linear-gradient(to right, black 0%, black 10%, transparent 10%, transparent 12.5%);
  mask-size: 90px;
}

.passage {
  transition-property: none;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

.abs-wrapper {
  width: calc(100% - 28px);
  height: calc(100% - 80px);
  position: fixed;
  top: 64px;
  left: 14px;
}
@media (min-width: 600px) {
  .abs-wrapper {
    width: unset;
    height: unset;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    max-width: 720px;
    max-height: 670px;
  }
}

.rel-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #DFDFD0;
  border: 1px solid black;
}
@media (min-width: 600px) {
  .rel-wrapper {
    padding: 8px;
    gap: 8px;
  }
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  padding: 6px;
  background-color: #FFFFF5;
  border: 1px solid black;
  border-width: 1px 0 0 0;
}
@media (min-width: 600px) {
  .content {
    padding: 0px;
    border-width: unset;
    border: 1px solid black;
  }
}

.stats {
  display: flex;
  flex-direction: row;
}
@media (min-width: 600px) {
  .stats {
    border: 1px solid black;
  }
}

.logo {
  display: none;
  position: absolute;
  top: -3rem;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 600px) {
  .logo {
    display: block;
  }
}

.resource-meter {
  padding: 0 10px 0 10px;
  background-color: #DFDFD0;
  color: #2A2C41;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-grow: 1;
  font-family: start-2p;
}
.resource-meter__unit {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resource-meter__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: -2px;
}

.user {
  display: none;
}
@media (min-width: 600px) {
  .user {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 1.5rem;
  }
}
.user__label {
  color: #213C06;
  text-transform: uppercase;
  font-size: 8px;
}
.user__name {
  margin-top: 4px;
  line-height: 1;
  font-size: 20px;
  letter-spacing: 1%;
}

.meter-unit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-box {
  border: 1px solid black;
  border-width: 0 1px 1px 1px;
  width: calc(100% - 18px);
  padding: 0 8px 8px 8px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  gap: 0.25rem;
}
@media (min-width: 600px) {
  .action-box {
    border: none;
    width: calc(100% - 16px);
  }
}

.avatar {
  display: flex;
  font-size: 12px;
  align-items: flex-start;
}
.avatar__image {
  object-fit: contain;
  height: 54px;
}
@media (min-width: 600px) {
  .avatar__image {
    margin: 4px;
    border: 1px solid black;
  }
}

.scenario {
  flex-grow: 1;
  display: flex;
  gap: 12px;
  color: #2A2C41;
  flex-direction: column;
  border: 1px solid black;
  border-width: 0 1px 0 1px;
}
@media (min-width: 600px) {
  .scenario {
    border: unset;
    border-width: unset;
    flex-direction: row;
    max-height: 325px;
    padding: 8px;
  }
}
.scenario__title {
  margin-top: 8px;
  line-height: 110%;
  padding: 0;
  margin-bottom: 0.75rem;
  font-family: start-2p;
  font-size: 24px;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  .scenario__title {
    font-size: 32px;
  }
}
.scenario__text {
  flex-grow: 1;
  padding-left: 8px;
  font-size: 16px;
}
@media (min-width: 600px) {
  .scenario__text {
    padding-left: unset;
    font-size: 20px;
  }
}
.scenario__desc {
  font-family: tickerbit;
  line-height: 130%;
  max-width: 90%;
}
.scenario__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  align-self: start;
}
@media (min-width: 600px) {
  .scenario__img {
    height: unset;
    width: 275px;
  }
}

.titlebar {
  display: flex;
  justify-content: space-between;
  height: 24px;
  text-align: center;
  border: 1px solid black;
  padding: 3px;
  background-image: linear-gradient(to bottom, #2A2C41 0%, #2A2C41 100%), linear-gradient(to bottom, #F8F7F2 0%, #F8F7F2 100%);
  background-clip: content-box, padding-box;
}
@media (min-width: 600px) {
  .titlebar {
    border-width: 0 0 1px 0;
  }
}
.titlebar__text {
  font-family: tickerbit;
  font-size: 14px;
}
.titlebar__grip {
  padding: 4px 2px 4px 2px;
}

.button:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
.button a {
  border-style: ridge;
  border-width: 1rem;
  border-image-source: url("img/button.png");
  border-image-slice: 30% 40% fill;
  border-image-repeat: repeat;
  border-radius: 12px;
  color: #2A2C41;
  background: #DFDFD0;
  display: block;
  height: 10px;
  line-height: 16px;
  margin-top: 2px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  font-family: start-2p;
  transition: none;
}
@media (min-width: 600px) {
  .button a {
    height: 18px;
    line-height: 22px;
    margin-top: 4px;
    font-size: 14px;
  }
}
.button a:hover {
  border-image-source: url("img/button-hover.png");
  text-decoration: none;
}

.menu-bar {
  position: fixed;
  z-index: 2;
  width: calc(100vw - 12px);
  background-color: #668547;
  left: 0;
  display: flex;
  height: 36px;
  padding: 6px;
  justify-content: space-between;
  font-family: tickerbit;
}
.menu-bar__group {
  height: 100%;
  display: flex;
  gap: 4px;
}
.menu-bar__link {
  color: #DCF15B;
  background-color: #547335;
  padding: 4px 12px 0 12px;
}
.menu-bar__link:hover {
  color: black;
  background-color: #DCF15B;
}
@media (min-width: 600px) {
  .menu-bar__logo {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
