.logo {
    display: none;
    @include breakpoint(desktop) {
        display: block;
    }
    position:absolute;
    top: -3rem;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resource-meter {
    padding: 0 10px 0 10px;
    // border: 2px solid red;
    background-color: #DFDFD0;
    color: #2A2C41;
    // padding: 10px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-grow: 1;
    font-family: start-2p;

    &__unit {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 10px;
        margin-bottom: -2px;
    }
}

.user {
    display: none;
    @include breakpoint(desktop) {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-right: 1.5rem;
    }
    &__label {
        color: #213C06;
        text-transform: uppercase;
        font-size: 8px;
    }
    &__name {
        margin-top: 4px;
        line-height: 1;
        font-size: 20px;
        letter-spacing: 1%;
    }
}

.meter-unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-box {
    border: 1px solid black;
    border-width: 0 1px 1px 1px;
    width: calc(100% - 18px);
    padding: 0 8px 8px 8px;
    @include breakpoint(desktop) {
        border: none;
        width: calc(100% - 16px);
    }
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    gap: 0.25rem;
}

.avatar {
    // border: 2px solid blue;
    // border-right: 1px solid black;
    display: flex;
    font-size: 12px;
    align-items: flex-start;
    &__image {
        object-fit: contain;
        height: 54px;
        @include breakpoint(desktop) {
            margin: 4px;
            border: 1px solid black;    
        }
    }
}

.scenario {
    flex-grow: 1;
    
    display: flex;
    gap: 12px;
    color: #2A2C41;
    flex-direction: column;
    border: 1px solid black;
    border-width: 0 1px 0 1px;
    @include breakpoint(desktop) {
        border: unset;
        border-width: unset;
        flex-direction: row;
        max-height: 325px;
        padding: 8px;
    }
    &__title {
        margin-top: 8px;
        line-height: 110%;
        padding: 0;
        margin-bottom: 0.75rem;
        font-family: start-2p;
        font-size: 24px;
        @include breakpoint(desktop) {
            font-size: 32px;
        }
        text-transform: uppercase;
    }
    &__text {
        flex-grow: 1;
        padding-left: 8px;
        font-size: 16px;
        @include breakpoint(desktop) {
            padding-left: unset;
            font-size: 20px;
        }
    }
    &__desc {
        font-family: tickerbit;
        line-height: 130%;
        max-width: 90%;
    }
    &__img {
        width: 100%;
        min-height: 150px;
        max-height: 200px;
        object-fit: cover;
        @include breakpoint(desktop) {
            height: unset;
            width: 275px;
        }
        align-self: start;
    }
}


.titlebar {
    color: white;
    display: flex;
    justify-content: space-between;    
    height: 24px;
    text-align: center;
    border: 1px solid black;
    @include breakpoint(desktop) {
        border-width: 0 0 1px 0;
    }
    padding: 3px;
    background-image: linear-gradient(to bottom, #2A2C41 0%, #2A2C41 100%), linear-gradient(to bottom, #F8F7F2 0%, #F8F7F2 100%);
    background-clip: content-box, padding-box;
    
    &__text {
        font-family: tickerbit;
        font-size: 14px;
        
    }
    &__grip {
        padding: 4px 2px 4px 2px;
    }
}

.button {
    &:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    & a {
        border-style: ridge;
        border-width: 1rem;
        border-image-source: url('img/button.png');
        border-image-slice: 30% 40% fill;
        border-image-repeat: repeat; 
        border-radius: 12px;
        color: #2A2C41;
        background: #DFDFD0;
        display: block;
        height: 10px;
        line-height:  16px;
        margin-top: 2px;
        font-size: 12px;
        @include breakpoint(desktop) {
            height: 18px;
            line-height:  22px;
            margin-top: 4px;
            font-size: 14px;
        }

        text-align: center;
        text-transform: uppercase;
        font-family: start-2p;
        
        &:hover {
            border-image-source: url('img/button-hover.png');
            text-decoration: none;
        }

        transition: none;
    }

}

.menu-bar {
    position: fixed;
    z-index: 2;
    width: calc(100vw - 12px);
    background-color: #668547;
    left: 0;
    display: flex;
    height: 36px;
    padding: 6px;
    justify-content: space-between;
    font-family: tickerbit;
    &__group {
        height: 100%;
        display: flex;
        gap: 4px;
    }
    &__link {
        color: #DCF15B;
        background-color: #547335;
        padding: 4px 12px 0 12px;
        &:hover {
            color: black;
            background-color: #DCF15B;
        }
    }
    &__logo {
        @include breakpoint(desktop) {
            display: none;
        }
    }
}

.class-selector {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.class {
    flex: 1 0 0;
    line-height: 1.1;
    border: 1px solid black;
    &__portrait {
        width: 100%;
        flex: 1 0 0;
        min-width: 134px;
    }
    &:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
}

.class-info {
    font-family: tickerbit;
    font-size: 11px;
    padding: 10px;
    flex: 1 0 0;
    & p {
        margin-bottom: 4px;
    }
    &__title {
        padding: 4px 4px 4px 6px;
        &--ops {
            background-color: #F8DAE5;
        }
        &--product {
            background-color: #D6E495;
        }
        &--legal {
            background-color: #DEE5F9;
        }
        &--sales {
            background-color: #FCD1B4;
        }
    }
}

.initials-field {
    margin: 24px 0 12px 0;
    display: flex;
    font-family: start-2p;
    align-items: center;
    line-height: 1.25;
    font-size: 14px;
    &p {
        padding: 0px;
        margin: 0px;
    }
}

#textbox-user {
    background-color: #FFFFFF;
    color: #D4D5D9;
    border: solid #D1D1D1;
    border-width: 2px 1px 1px 1px;
    &:focus {
        border: solid #8D8D8D;
        border-width: 2px 1px 1px 1px;
    }
    flex-grow: 1;
    box-sizing: border-box;
    min-width: 0;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    
}


.login-window {
    padding: 8px 16px 16px 16px;
    &__title {
        width: 100%;
        text-align: center;
        font-family: start-2p;
        font-size: 16px;
        text-transform: uppercase;
    }
    &__info {
        width: 100%;
        text-align: center;
        background: #F6F6E8;
        font-family: tickerbit;
        font-size: 14px;
        margin-bottom: 12px;
    }
}